.body{
    background-color: #17BEBB;
}
.Profile{
background-color: #1F2421;
align: centre;
margin-left: 200px;
margin-right: 200px;
margin-top: 100px;
margin-bottom: 100px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 5px 5px 10px 10px #FFF4EB;

}
.profilewords{
    
    margin-right: 20px;
    padding: 20px;

    
}
p{
    font-family: "Lucida Handwriting", "Brush script MT", cursive;
    color:#FE938C;
} 
.hello{
    
    margin-top:0px;
    font-weight: bold;
    font-size: 25px;
}
.name{
    
    font-weight: bold;
    font-size: 40px;
    margin:0;
}
.myname{
    color: #17BEBB;
    text-decoration: underline;
}

.intro1{
   
font-size: 20px;
font-weight: bold;
}
.intro2{
    
    font-size: 20px;
}

.Profilepicture{
    box-shadow: 10px 10px #17BEBB;
    width: 300px;
    height:350px;
    
    
}

