.body{
    background-color: lightgray;
}
.ProfileDiv{
background-color: #1F2421;
align: centre;
margin-left: 200px;
margin-right: 200px;
margin-top: 100px;
margin-bottom: 200px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 5px 5px 10px 10px #FFF4EB;

}
.aboutdiv{
    align: centre;
margin-left: 200px;
margin-right: 200px;
margin-top: 100px;
margin-bottom: 200px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 5px 5px 10px 10px #FFF4EB;
}
.profilewords{
    
    margin-right: 20px;
    padding: 20px;
    
}

p, h1, h2{
    font-family: "Lucida Handwriting", "Brush script MT", cursive;
    
} 
.hello, .aboutheadline{
    color:#FE938C;
    margin-top:0px;
    font-weight: bold;
    font-size: 25px;
}
.name, .about{
    color:#FE938C;
    font-weight: bold;
    font-size: 39px;
    margin:0;
}
.myname{
    color: #17BEBB;
    text-decoration: underline;
}

.intro1{
    color:#FE938C;
font-size: 20px;
font-weight: bold;
}
.intro2, .bio{
    color:#FE938C;
    font-size: 20px;
}

.ProfilepictureDiv{
    box-shadow: 10px 10px #17BEBB;
    width: 300px;
    height:350px;
}
.projectintroline{
    font-size: 30px;
    text-align: center;
    color:#FE938C;
    text-decoration: none;
}
.myprojectbuttondiv{
   display: flex;
   justify-content: center;
   align-items: center;
}
.myprojects{
    font-size: 20px;
    background-color: #FE938C;
    color: #1F2421;
    padding: 50px 300px;
    font-weight: bold;
    border-radius: 20px;
    display: block;
    align-items: center;
    cursor: pointer;
}
.myprojects:hover{
    background-color: #17BEBB;

}

